.full-details-container {
  flex-direction: column;
  font-family: Lato, sans-serif !important;
}

.title-container {
  padding: 5vw !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: auto;
  padding-bottom: 4vh;
}

.title-container > h2 {
  font-size: 2rem;
}

#detail-tag {
  background-color: #304d79;
}

#detail-tag > h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fdfffe;
  margin: 0;
  padding: 1vh;
}

.data-container {
  flex-direction: column !important;
}

.row > h3 {
  padding: 1.2vh;
  font-size: 1.2rem;
}

.row:nth-child(odd) {
  background-color: #4d78c7;
}

.row:nth-child(even) {
  background-color: #4164a6;
}

#eth-logo {
  height: 20vh;
  width: 20vh;
  margin-right: auto;
  margin-left: 0.1vh;
}
