.list-group-item {
  background-color: transparent;
  color: #fdfffe;
  display: flex;
  justify-content: flex-start;
  padding-top: 2vh;
  flex: 1;
  min-width: 50%;
}

.list-group-item:nth-child(4n + 2),
.list-group-item:nth-child(4n + 3) {
  background-color: #3f62a4;
}

#data-container {
  align-content: baseline;
  flex-direction: column;
  padding: 1vh;
  padding-top: 5vh;
}

#data-container > h3 {
  margin-right: 2vw;
}
