.global-data-container {
  display: flex;
  padding: 2vh;
  font-family: Lato, sans-serif;
}

.d1 {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d2 {
  color: white;
}

.d2 > h2 {
  font-weight: bold;
  font-size: 1.3rem;
}

.d2 > p {
  font-size: 0.87rem;
}

.blockchain-icon {
  height: 14vh;
  width: 14vh;
}
